# ~rust

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env.sh

# pytest
.pytest_cache/

# VSCode
.vscode/
*.code-workspace

./aish
lab/

*.png

function_calling.md

example*.py
